
/*newlook*/
/*#66adff*/

body {
    background-color: #ffffff;
    color: #222;
    font-size: 14px;
    margin: 0;
    padding: 0;
    resize: none;
    touch-action: manipulation;
    word-wrap: break-word;
    overflow: auto;
}

div {
    word-wrap: break-word;
    overflow: auto;
    
}

textarea {
    word-wrap: break-word;
    overflow: auto;
    height: 4em;
    
}


.mango {
    word-wrap: break-word;
    overflow: auto;
    
}


img {
    width: 100%;
    height :auto;
}

.sele {
    padding: 1em; 
}


@media only screen and (max-width: 246px) {
    img {
        width: 100%;
        height: 15em;
    }

    .imgsearch {
        width: 100%;
        height: 12em;
    }

     .sele {
        padding: 0.5em;
    }

}

@media only screen and (min-width: 247px) {
    img {
        width: 100%;
        height: 23em;
    }


    .sele {
        padding: 3em;
    }
}


@media only screen and (min-width: 402px) {
    img {
        width: 100%;
        height: 40em;
    }


    .sele {
        padding: 6.5em;
    }

}

@media only screen and (min-width: 602px) {
    img {
        width: 100%;
        height: 54em;
    }


    .sele {
        padding: 9em;
    }

}

@media only screen and (min-width: 802px) {
    img {
        width: 100%;
        height: 60em;
    }


    .sele {
        padding: 10em;
    }

}



a, button, div {
    touch-action: manipulation;

}



.butou {
    margin: auto;
    z-index: 1100;
    opacity: 1;
    text-align: center;
    color: #222;

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    overflow: auto;
    opacity: 1;
    z-index: 2000;
}


.contento {
    margin-top: 9em;
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
    overflow: scroll;
    text-shadow: 0px 1px 1px #fff;
}

ul {
    list-style: none;
    margin: 10px;
    padding: 0;
    overflow: auto;
}

    ul li a {
        display: block;
        font-size: 17px;
        font-weight: bold;
        margin-bottom: -1px;
        padding: 12px 10px;
        text-decoration: none;
    }

#pogi {
    position: fixed;
    display: none;
    bottom: 2.5em;
    left: 0;
    right: 0;
    overflow: auto;
    opacity: 1;
    z-index: 2500;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #3392ff;
}


.notifico {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    overflow: auto;
    opacity: 1;
    z-index: 2500;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 3.2em;
}

.progress {
    margin: 0;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.proggo {
    background-color: #3392ff;
    color: #222;
    display: block;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding-bottom: 21px;
}

#progressL {
    margin: 0;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#proggoL {
    background-color: #3392ff;
    color: #222;
    display: block;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding-bottom: 21px;
}


.poppy {
    z-index: 2000;
    opacity: 1;
    display: none;
    -webkit-border-radius: 2em;
    background-color: #f2f2f2;
    color: #222;
    left: 5.5%;
    text-align: center;
    width: 80%;
    overflow: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: fixed;
    top: 9em;
    margin: auto;
}




.closer{

    margin-top:1.5em;

}


h3 {
    text-align: center;
}



.rando {
    width: 100%;
    height: 50%;
}

.pio {
    font-size: 1.5em;
}

selediv {
    margin-top: 0;
    padding-top: 0;
}

a:hover {
    color: #222;
    text-decoration: none;
}

a:active {
    color: #222;
    text-decoration: none;
}

.rita {
    width: 3.8em;
    height: 3.8em;
    border-radius: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
}

.picolo {
    padding-top: 5px;
    padding-bottom: 5px;
}

.hiho {
    text-align: center;
    color: #222;
    font-size: 1em;
    font-weight: bold;
}


.tito {
    text-align: center;
    color: #ffffff;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 3px #00ffff, 0 0 5px #00e6e6;
}

.higolo {
    background-color: #66adff;
}


.leftow {
    margin-left: 1em;
    width: 5em;
}

.rightow {
    right: 0;
    padding-right: 1em;
    width: 5em;
}

.button {
    font-size: 1em;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    outline: none;
    color: #222;
    background-color: #66adff;
    border: none;
    border-radius: 0.6em;
    box-shadow: 0 5px #999;
    z-index: 1100;
    opacity: 1;
    width: 5em;
    max-width: 5em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin:0.2em;
}

.asbutton {
    font-size: 1em;
    padding: 0.5em 1.5em;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    outline: none;
    color: #222;
    background-color: #66adff;
    border: none;
    border-radius: 0.6em;
    box-shadow: 0 5px #999;
    z-index: 1100;
    opacity: 1;
    width: 6em;
    max-width: 6em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
   margin:0.2em;
}


.button:active {
    background-color: #0077ff;
    box-shadow: 0 5px #666;
    
}

.asbutton:active {
    background-color: #0077ff;
    box-shadow: 0 5px #666;
    
}

.abutton {
    font-size: 1em;
    cursor: pointer;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    outline: none;
    color: #222;
    background-color: #66adff;
    border: none;
    border-radius: 0.6em;
    box-shadow: 0 5px #999;
    z-index: 1100;
    opacity: 1;
    display: block;
    width: 10em;
    max-width: 10em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
   margin:0.2em;
}


    .abutton:active {
        background-color: #0077ff;
        box-shadow: 0 5px #666;
        
    }



.buttonbig {
    font-size: 1.2em;
    cursor: pointer;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    outline: none;
    color: #222;
    background-color: #66adff;
    border: none;
    border-radius: 0.6em;
    box-shadow: 0 5px #999;
    z-index: 1100;
    opacity: 1;
    display: block;
   margin:0.2em;
}


    .buttonbig:active {
        background-color: #0077ff;
        box-shadow: 0 5px #666;
        
    }


a {
    text-decoration: none;
    color: #222;
}

input {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.searchbtn {
    font-size: 1.1em;
    cursor: pointer;
    padding: 0.6em;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    outline: none;
    color: #222;
    background-color: #66adff;
    border: none;
    border-radius: 0.6em;
    box-shadow: 0 5px #999;
    z-index: 1100;
    opacity: 1;
    display: block;
    width: 5em;
    max-width: 5em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0.2em;
}


    .searchbtn:active {
        background-color: #0077ff;
        box-shadow: 0 5px #666;
    }


.messo {
    max-height: 5em;
    overflow: hidden;
    word-wrap: break-word;
}

.dito{

    margin-left:5%;

}

.rizo {
    z-index: 2000;
    opacity: 1;
    display: none;
    -webkit-border-radius: 2em;
    text-align: center;
    overflow: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #222;
    background-color: #f2f2f2;
}


#chedo {
    color: #3392ff;
}

