<?xml version="1.0" encoding="utf-8"?>
<widget xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:vs="http://schemas.microsoft.com/appx/2014/htmlapps" id="io.cordova.myapp615048" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" defaultlocale="en-US">
  <name>NetWek</name>
  <description>Sell or buy from anyone...
Find or give work to anyone</description>
  <author href="http://cordova.io" email="kelvinchawaz@outlook.com">Kelvin C. Chawafambira</author>
  <vs:template-name>BlankJS</vs:template-name>
  <vs:toolsetVersion>6.3.1</vs:toolsetVersion>
  <engine name="android" spec="5.2.1" />
 
  <content src="index.html" />
  <access origin="*" />
  <preference name="SplashScreen" value="screen" />
  <preference name="windows-target-version" value="10.0" />
  <!-- Support for Cordova 5.0.0 plugin system -->
  <plugin name="cordova-plugin-whitelist" spec="1.2.2" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-intent href="tel:*" />
  <allow-intent href="sms:*" />
  <allow-intent href="mailto:*" />
  <allow-intent href="geo:*" />
  <platform name="android">
    <allow-intent href="market:*" />
  </platform>

  <platform name="android">
    <preference name="loadUrlTimeoutValue" value="700000" />
  </platform>
  
  <platform name="android">
	<icon density="ldpi" src="res/icons/android/drawable-ldpi-icon.png" />
	<icon density="mdpi" src="res/icons/android/drawable-mdpi-icon.png" />
	<icon density="hdpi" src="res/icons/android/drawable-hdpi-icon.png" />
	<icon density="xhdpi" src="res/icons/android/drawable-xhdpi-icon.png" />
	<icon density="xxhdpi" src="res/icons/android/drawable-xxhdpi-icon.png" />
	<icon density="xxxhdpi" src="res/icons/android/drawable-xxxhdpi-icon.png" />
	<splash density="land-ldpi" src="res/screens/android/drawable-land-ldpi-screen.png" />
	<splash density="land-mdpi" src="res/screens/android/drawable-land-mdpi-screen.png" />
	<splash density="land-hdpi" src="res/screens/android/drawable-land-hdpi-screen.png" />
	<splash density="land-xhdpi" src="res/screens/android/drawable-land-xhdpi-screen.png" />
	<splash density="land-xxhdpi" src="res/screens/android/drawable-land-xxhdpi-screen.png" />
	<splash density="land-xxxhdpi" src="res/screens/android/drawable-land-xxxhdpi-screen.png" />
	<splash density="port-ldpi" src="res/screens/android/drawable-port-ldpi-screen.png" />
	<splash density="port-mdpi" src="res/screens/android/drawable-port-mdpi-screen.png" />
	<splash density="port-hdpi" src="res/screens/android/drawable-port-hdpi-screen.png" />
	<splash density="port-xhdpi" src="res/screens/android/drawable-port-xhdpi-screen.png" />
	<splash density="port-xxhdpi" src="res/screens/android/drawable-port-xxhdpi-screen.png" />
	<splash density="port-xxxhdpi" src="res/screens/android/drawable-port-xxxhdpi-screen.png" />
</platform>
  
  <plugin name="cordova-plugin-camera" spec="~2.4.1" />
   <plugin name="phonegap-plugin-push" spec="~1.5.3" />
    <plugin name="cordova-plugin-dialogs" spec="~1.3.3" />
  <plugin name="cordova-plugin-statusbar" spec="~2.2.3" />
  <preference name="webviewbounce" value="false" />
  <preference name="StatusBarOverlaysWebView" value="false" />
  <preference name="StatusBarStyle" value="default" />

  <preference name="Fullscreen" value="True" />
</widget>